h3{
    text-align: center;
    color: rgb(90, 90, 90);
    font-size: 24pt;
}




div{
    display: inline;
}

input{
    width: 600px; 
    height: 70px;
    font-size: 24pt;
    background-color: rgb(217, 217, 217);
    border: 0px;
    border-color: rgb(217, 217, 217);
    top: 80%;
    right: 45%;
    position: absolute;

}

#wrapper {
    display: flex;
    margin: 0 auto;
    padding: 30px;
    max-width: 1170px;
}


button {
    width: 100px; 
    height: 72px;
    display: inline;
    font-weight: 800; 
    font-size: 16pt;
    color: rgb(5, 5, 5);
    background-color: rgb(255, 181, 70);
    border-color: rgb(255, 181, 70);
    top: 80%;
    right: 45%;
    position: absolute;
    
}



.aze_04 {
    display: inline;
    left: 40%;
    float: right;
    
}


@media (max-width: 800px) {
    input, button, .aze_04 {
    font-size: 16px;
    width:100%;
    }
}
